html {
  font-size: 20px;
}

body {
  font-family: 'Raleway';
}

.logo {
  font-family: 'Pacifico';
  font-size: 3.5rem;
  color: #000;
  padding: 20px 100px;
  position: absolute;
  transition: 0.5s;
  z-index: 10;
}

.logo-scrolled {
  font-size: 2.5rem;
  transition: 0.5s;
  padding: 15px 30px;
}

.logo:hover {
  color: black;
  text-decoration: none;
}

.topslide {
  margin-top: 45px;
  transition: 0.5s;
}

.downslide {
  margin-top: 25px;
  transition: 0.5s;
}

.ding {
  font-size: 0.9rem;
  color: black;
  font-family: 'Raleway';
  font-weight: 700;
  border-top: 0px solid rgba(255, 255, 255, 0);
  transition: 0.2s;
}

.ding:hover {
  border-top: 5px solid orange;
  transition: 0.1s;
}

.topBorder {
  border-top: 5px solid orange;
  transition: 0.1s;
}

.orangeColor {
  color: orange;
}

.navbar-default {
  background-color: rgba(255, 255, 255, 0);
  transition: 0.5s;
  box-sizing: border-box;
  height: 140px;
  border-bottom: none;
}

.navbar-scrolled {
  min-height: 50px;
  background-color: white;
  transition: 0.5s;
  height: 100px;
}

.Menu {
  text-transform: uppercase;
}

.listaNavbar {
  display: inline;
}

.navbar-collapse {
  border: none;
}

.text-home {
  position: absolute;
  top: 40%;
}

.text-home h1 {
  font-size: 2.8rem;
  font-family: 'Raleway';
  font-weight: 900;
  text-transform: capitalize;
}

.textAbout {
  padding-top: 70px;
}

.text-home p, .textAbout p {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 0.9rem;
}

.buttonHome {
  width: 180px;
  height: 40px;
  background-color: #FF6435;
  border: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.21);
  text-transform: uppercase;
  color: white;
  transition: 0.5s;
}

.buttonHome:hover {
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.21);
  transition: 0.5s;
  transform: scale(1.1);
}

.headerBackground {
  background-image: url(images/header.jpg);
  background-size: cover;
  background-position: 65%;
  height: 800px;
  position: relative;
}

.About {
  background-color: #15A5BF;
  padding: 0;
  background-image: url(images/about.png);
  background-repeat: no-repeat;
  min-height: 600px;
  background-position: 10%;
  background-size: 50%;
}

.textAbout {
  color: white;
  margin-top: 50px;
}

.textAbout h1 {
  font-size: 3.6rem;
  font-family: 'Raleway';
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
}

.textAbout p {
  font-size: 0.7rem;
  text-align: center;
}

.Services {
  background-color: rgba(38, 197, 203, 0.72);
}

.Services img {
  margin: 0 auto;
}

.Services h1 {
  font-size: 3.3rem;
  font-family: 'Raleway';
  font-weight: 800;
  color: white;
}

.Tekscik {
  position: absolute;
  top: 40%;
  left: 25%;
}

.Uslugi {
  font-size: 0.8rem;
  font-family: 'Raleway';
  font-weight: 800;
  margin-top: 70px;
}

.Uslugi:first-child {
  margin-top: 40px;
}

.Oferta {
  border-radius: 0px;
  height: 80px;
  position: relative;
  cursor: pointer;
}

.Oferta p {
  padding-left: 25px;
  position: absolute;
  text-align: center;
  width: 70%;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 1px 2px 1px rgba(150, 150, 150, 0.5);
}

.Wrapik {
  height: 80px;
  width: 80px;
  border-left: 1px solid rgba(113, 113, 113, 0.54);
  position: absolute;
  top: 0px;
  right: 0px;
}

.biale {
  background-color: white;
}

.UslugiFoto {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0px 15px;
}

.UslugiFoto img {
  width: 49px;
  height: 43px;
}

.Description-panel {
  display: none;
  color: white;
  font-weight: 300;
  text-align: center;
}

.Gallery {
  background-color: #fff72a;
  text-align: center;
}

.Gallery h1 {
  font-size: 4rem;
  font-weight: 700;
  padding-top: 40px;
}

.Description-gallery {
  margin-bottom: 50px;
}

.Gallery img {
  width: 100%;
  transition: all 0.8s;
  cursor: pointer;
}

.Gallery img:hover {
  transition: all 0.8s;
  transform: rotate(3deg);
  box-shadow: 0px 0px 40px 1px black;
}

.img-wrapper {
  display: inline-block;
  padding-bottom: 5vh;
}

.button-gallery {
  width: 80%;
  height: 40px;
  background-color: rgba(100, 32, 208, 0.81);
  color: white;
  border: none;
  transition: 0.5s;
  margin-bottom: 20px;
}

.button-gallery:hover {
  box-shadow: 0px 0px 25px 5px rgba(217, 197, 40, 0.88);
  transform: scale(1.1);
  transition: 0.5s;
}

.gallery-more-container {
  display: none;
}

.galleryMoreButton img {
  width: 85%;
  padding-bottom: 20px;
}

.Subscribe {
  background-color: #ffffff;
}

.input-subscribe-wrapper h3 {
  margin-top: 135px;
}

.img-subscribe-wrapper {
  margin-top: 60px;
}

.input-subscribe {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  margin: 15px 0;
}

.button-subscribe {
  width: 100%;
  height: 40px;
  background-color: #20d02e;
  color: white;
  border: none;
  transition: 0.5s;
  margin: 15px 0;
}

.button-subscribe:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.Blogowisko {
  background-color: rgba(148, 97, 229, 0.79);
  min-height: 400px;
  width: 100%;
}

.Blogowisko h1 {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  font-size: 4rem;
}

.foto-wrap img{
  cursor: pointer;
}

.Blog-description-wrap {
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  padding-bottom: 20px;
}

.blog-img-wrapper {
  margin: 20px 0;
}

.blog-img-wrapper img {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.Blog-wrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.foto-wrap {
  position: relative;
  overflow: hidden;
}

.foto-wrap img {
  transition: 0.5s;
}

.foto-wrap img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.Blog-date {
  color: white;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  line-height: 22px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.Blog-img-desc {
  position: absolute;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8) 60%);
  height: 90px;
  bottom: 0px;
  color: white;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 5px;
}

.Blog-author {
  position: absolute;
  color: white;
  bottom: 0px;
  font-weight: 200;
  padding: 0 5px;
}

.Blog-img-description {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.13), black);
  height: 90px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  margin-right: 15px;
}

.Blog-img-description p {
  padding: 0px 10px;
}

.Blog-button-view {
  height: 40px;
  width: 150px;
  margin: 50px 0px;
  background-color: rgba(245, 14, 14, 0.9);
  border: none;
  transition: 0.5s;
  color: white;
}

.Blog-button-view:hover {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: 0.5s;
}

.Blog-button-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.img-salad {
  margin-bottom: 50px;
}

#Blog-image-hidden {
  display: none;
}

.Contact {
  background-image: url(images/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Contact h1 {
  margin-top: 105px;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

.Contact p {
  text-align: center;
}

.Contact-forms input {
  background-color: rgba(8, 203, 165, 0.42);
  border: none;
  margin-bottom: 10px;
  height: 50px;
  width: 100%;
  color: white;
  padding-left: 10px;
  font-size: 0.8rem;
}

.Contact-forms input::placeholder {
  color: white;
  font-size: 0.9rem;
}

.Contact-forms input:focus {
  border-left: 4px solid rgba(1, 45, 191, 0.72);
  background-color: rgba(8, 203, 165, 0.85);
}

.Contact-forms textarea {
  background-color: rgba(8, 203, 165, 0.42);
  border: none;
  width: 100%;
  resize: none;
}

.Contact-textarea textarea:focus {
  background-color: rgba(8, 203, 165, 0.85);
}

.Contact-forms textarea::placeholder {
  color: white;
  padding-left: 10px;
  font-size: 0.9rem;
}

.Contact-details {
  margin-bottom: 15px;
}

.Contact-details p {
  font-size: 0.7rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: 0;
}

.Contact-button {
  display: flex;
  justify-content: center;
  margin-bottom: 95px;
  margin-top: 15px;
}

.Contact-button-send {
  height: 60px;
  width: 200px;
  background-color: #69e2d1;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.Contact-button-send:hover, .Contact-button-send:focus {
  background-color: rgba(8, 203, 165, 0.85);
}

footer {
  background-color: #4a3636;
  color: #bcbcbc;
  font-size: 0.8rem;
}

.footer-wrap {
  min-height: 100px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.logo-small {
  color: white;
  font-size: 1.6rem;
  font-family: 'Pacifico';
}

@media screen and (min-width: 992px) and (max-width: 1170px) {
  .headerBackground {
    background-position: 55%;
    height: 600px;
  }
  .About {
    height: 600px;
    background-position: 10%;
    background-size: 50%;
  }
  .textAbout {
    padding-top: 40px;
  }
  .input-subscribe-wrapper {
    margin-top: -25px;
  }
  .Subscribe {
    min-height: 375px;
  }
  .img-subscribe-wrapper {
    margin-top: 75px;
  }
  .Blog-img-description {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .headerBackground {
    background-position: 55%;
    height: 650px;
  }
  .textAbout {
    padding-top: 0;
  }
  .logo {
    font-size: 60px;
    padding: 10px 20px;
  }
  .logo-scrolled {
    font-size: 40px;
    padding: 18px;
  }
  .Menu ul li a {
    padding: 13px;
  }
  .About {
    background-size: 60%;
    background-position: left center;
  }
  .button-subscribe-wrapper {
    padding: 10px;
  }
  .input-subscribe-wrapper {
    padding: 10px;
  }
  .input-subscribe-wrapper h3 {
    margin-top: 50px;
  }
  .img-subscribe-wrapper {
    margin-top: 50px;
  }
  .Subscribe {
    min-height: 265px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .logo{
    font-size: 3rem;
    padding-left: 40px
  }
  
  .logo-scrolled{
    font-size: 2rem;
    padding: 20px;
  }
  
  .burger {
    margin-top: 55px;
    transition: 0.5s;
  }
  .burger-scrolled {
    margin-top: 25px;
    transition: 0.5s;
  }
  .textAbout {
    margin-top: 0px;
  }
  .headerBackground {
    background-position: 55%;
    height: 500px;
  }
  .textAbout {
    margin-top: 80%;
  }
  .About {
    height: auto;
    background-size: contain;
    background-position: top;
  }
  ul li {
    text-align: center;
    background-color: white;
  }
  
    ul li a p {
    border-top: none;
  }
  
  .ding {
    font-size: 0.9rem;
    margin: 0;
  }
  .ding:hover {
    font-size: 1.1rem;
    border-top: none;
    transition: 0.2s;
  }
  .input-subscribe-wrapper h3 {
    margin-top: 50px;
  }
  .Contact-details {
    color: white;
  }
  .Contact h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  .logo {
    font-size: 2.5rem;
    padding: 20px;
  }
  .logo-scrolled {
    font-size: 2rem;
    padding: 15px 20px;
  }
  .navbar-default {
    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s;
    box-sizing: border-box;
    height: 110px;
  }
  .navbar-scrolled {
    min-height: 45px;
    background-color: white;
    transition: 0.5s;
    height: 92px;
  }
  .burger {
    margin-top: 40px;
    transition: 0.5s;
  }
  .burger-scrolled {
    margin-top: 25px;
    transition: 0.5s;
  }
  .text-home h1 {
    font-size: 1.6rem;
  }
  .headerBackground {
    background-position: 55%;
    height: 500px;
  }
  .About {
    height: auto;
    background-size: contain;
    background-position: top;
  }
  .text-home {
    margin-top: -65px;
  }
  .textAbout {
    margin-top: 90%;
  }
  
  .textAbout h1 {
    font-size: 2.6rem;
  }
  
  ul li {
    text-align: center;
  }
  
  ul li a p {
    border-top: none;
  }
   
  .ding {
    font-size: 0.8rem;
    margin: 0;
  }
  .ding:hover {
    border: none;
  }
  .Oferta p {
    font-size: 0.7rem;
  }
  .UslugiFoto img {
    width: 40px;
    height: 40px;
  }
  .Wrapik {
    height: 80px;
    width: 70px;
    border-left: 1px solid rgba(113, 113, 113, 0.54);
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .Tekscik {
    width: 80%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 10%;
  }
  .Pomidorek h1 {
    font-size: 2rem;
  }
  .Gallery h1 {
    font-size: 3rem;
  }
  .Description-gallery {
    padding-bottom: -10px;
  }
  .img-wrapper {
    padding-bottom: 2vh;
  }
  .button-gallery {
    margin-bottom: 15px;
  }
  .input-subscribe-wrapper {
    text-align: center;
  }
  .input-subscribe-wrapper h3 {
    margin-top: 15px;
  }
  .Contact-details {
    color: white;
  }
  .Contact h1 {
    font-size: 3rem;
    color: white;
  }
}
