/* line 1, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
html {
  font-size: 20px;
}

/* line 4, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
body {
  font-family: 'Raleway';
}

/* line 7, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.logo {
  font-family: 'Pacifico';
  font-size: 3.5rem;
  color: #000;
  padding: 20px 100px;
  position: absolute;
  transition: 0.5s;
}

/* line 15, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.logo-scrolled {
  font-size: 2.5rem;
  transition: 0.5s;
  padding: 15px 30px;
}

/* line 20, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.logo:hover {
  color: black;
  text-decoration: none;
  text-decoration-/* END OF CAHEE LOGO */
}

/* line 26, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.topslide {
  margin-top: 45px;
  transition: 0.5s;
}

/* line 30, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.downslide {
  margin-top: 25px;
  transition: 0.5s;
}

/* line 34, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.ding {
  font-size: 0.9rem;
  color: black;
  font-family: 'Raleway';
  font-weight: 700;
  border-top: 0px solid rgba(255, 255, 255, 0);
  transition: 0.2s;
}

/* line 42, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.ding:hover {
  border-top: 5px solid orange;
  transition: 0.1s;
  transition-/* END OF UNORDERED LIST IN NAVBAR */
}

/* line 48, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.navbar-default {
  background-color: rgba(255, 255, 255, 0);
  transition: 0.5s;
  box-sizing: border-box;
  height: 140px;
  border-bottom: none;
}

/* line 55, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.navbar-scrolled {
  min-height: 50px;
  background-color: white;
  transition: 0.5s;
  height: 100px;
}

/* line 61, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Menu {
  text-transform: uppercase;
}

/* line 64, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.listaNavbar {
  display: inline;
}

/* line 67, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.navbar-collapse {
  border: none;
  border-/* END OF NAVBAR */
}

/* line 74, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.text-home {
  position: absolute;
  top: 40%;
}

/* line 78, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.text-home h1 {
  font-size: 2.8rem;
  font-family: 'Raleway';
  font-weight: 900;
  text-transform: capitalize;
}

/* line 84, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.text-home p, .textAbout p {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 0.9rem;
}

/* line 89, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.buttonHome {
  width: 180px;
  height: 40px;
  background-color: #FF6435;
  border: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.21);
  text-transform: uppercase;
  color: white;
}

/* line 98, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.buttonHome:hover {
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.21);
  background-color: #ff6b3e;
}

/* line 102, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.headerBackground {
  background-image: url(images/header.jpg);
  background-size: cover;
  background-position: 65%;
  height: 800px;
  position: relative;
  position-/*END OF HOME SECTION*/
}

/* line 111, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.About {
  background-color: #15A5BF;
  padding: 0;
  background-image: url(images/about.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 118, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.textAbout {
  color: white;
  margin-top: 50px;
}

/* line 122, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.textAbout h1 {
  font-size: 3.6rem;
  font-family: 'Raleway';
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
}

/* line 129, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.textAbout p {
  font-size: 0.7rem;
  text-align: center;
  text-align-/* END OF ABOUT SECTION */
}

/* line 133, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Services {
  background-color: rgba(38, 197, 203, 0.72);
}

/* line 136, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Services img {
  margin: 0 auto;
}

/* line 139, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Services h1 {
  font-size: 3.3rem;
  font-family: 'Raleway';
  font-weight: 800;
  color: white;
}

/* line 145, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Tekscik {
  position: absolute;
  top: 40%;
  left: 25%;
}

/* line 150, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Uslugi {
  font-size: 0.8rem;
  font-family: 'Raleway';
  font-weight: 800;
}

/* line 155, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Uslugi:first-child {
  margin-top: 40px;
}

/* line 158, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Oferta {
  border-radius: 0px;
  height: 80px;
  position: relative;
}

/* line 163, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Oferta p {
  padding-left: 25px;
  position: absolute;
  text-align: center;
  width: 70%;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 1px 2px 1px rgba(150, 150, 150, 0.5);
}

/* line 172, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Wrapik {
  height: 80px;
  width: 80px;
  border-left: 1px solid rgba(113, 113, 113, 0.54);
  position: absolute;
  top: 0px;
  right: 0px;
}

/* line 181, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.UslugiFoto {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0px 15px;
}

/* line 188, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.UslugiFoto img {
  width: 49px;
  height: 43px;
}

/* line 192, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Description-panel {
  display: none;
  color: white;
  font-weight: 300;
  text-align: center;
  text-align-/* END OF SERVICES SECTION */
}

/* line 199, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Gallery {
  background-color: #fff72a;
  text-align: center;
  padding-top: 20px;
}

/* line 204, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Gallery h1 {
  font-size: 4rem;
  font-weight: 700;
}

/* line 208, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Description-gallery {
  margin-bottom: 50px;
}

/* line 211, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Milky {
  padding-bottom: 50px;
}

/* line 214, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Gallery img {
  padding-bottom: 5vh;
  width: 100%;
  transition: all 2s ease-out;
}

/* line 219, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Gallery img:hover {
  transition: all 0.5s ease-out;
  transform: scale(0.95);
}

/* line 223, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.img-wrapper {
  display: inline-block;
  overflow: hidden;
}

/* START OF MEDIA QUERIES */
/* START OF MEDIA QUERIES */
/* START OF MEDIA QUERIES */
@media screen and (min-width: 992px) {
  /* line 235, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .headerBackground {
    background-position: 55%;
    height: 600px;
  }
  /* line 239, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .About {
    height: 600px;
    background-position: 10%;
    background-size: 50%;
  }
  /* line 244, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .textAbout {
    margin-top: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* line 251, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .headerBackground {
    background-position: 55%;
    height: 650px;
  }
  /* line 255, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .textAbout {
    margin-top: 50px;
  }
  /* line 258, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .About {
    background-size: 60%;
    background-position: left center;
    background-position-/*GALLERY*/
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  /* line 268, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .burger {
    margin-top: 55px;
    transition: 0.5s;
  }
  /* line 272, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .burger-scrolled {
    margin-top: 25px;
    transition: 0.5s;
  }
  /* line 277, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .textAbout {
    margin-top: 0px;
  }
  /* line 280, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .headerBackground {
    background-position: 55%;
    height: 500px;
  }
  /* line 284, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .textAbout {
    margin-top: 90%;
  }
  /* line 287, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .About {
    background-size: 100%;
  }
  /* line 290, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  ul li {
    text-align: center;
    background-color: white;
  }
  /* line 294, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .ding {
    font-size: 0.9rem;
    margin: 0;
  }
  /* line 298, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .ding:hover {
    font-size: 1.1rem;
    border-top: none;
    transition: 0.2s;
  }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  /* line 307, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .logo {
    font-size: 2.5rem;
    padding: 20px;
  }
  /* line 311, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .logo-scrolled {
    font-size: 2rem;
    padding: 15px 20px;
  }
  /* line 315, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .navbar-default {
    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s;
    box-sizing: border-box;
    height: 110px;
  }
  /* line 321, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .navbar-scrolled {
    min-height: 50px;
    background-color: white;
    transition: 0.5s;
    height: 92px;
  }
  /* line 327, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .burger {
    margin-top: 40px;
    transition: 0.5s;
  }
  /* line 331, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .burger-scrolled {
    margin-top: 25px;
    transition: 0.5s;
  }
  /* line 335, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .text-home h1 {
    font-size: 1.6rem;
  }
  /* line 338, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .headerBackground {
    background-position: 55%;
    height: 500px;
  }
  /* line 342, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .text-home {
    margin-top: -65px;
  }
  /* line 345, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .textAbout {
    margin-top: 90%;
  }
  /* line 348, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  ul li {
    background-color: white;
    text-align: center;
  }
  /* line 352, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .ding {
    font-size: 0.8rem;
    margin: 0;
  }
  /* line 356, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .ding:hover {
    border: none;
  }
  /* line 359, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .Oferta p {
    font-size: 0.7rem;
  }
  /* line 362, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .UslugiFoto img {
    width: 40px;
    height: 40px;
  }
  /* line 366, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .Wrapik {
    height: 80px;
    width: 70px;
    border-left: 1px solid rgba(113, 113, 113, 0.54);
    position: absolute;
    top: 0px;
    right: 0px;
  }
  /* line 374, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .Tekscik {
    width: 80%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 10%;
  }
  /* line 381, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .Pomidorek h1 {
    font-size: 2rem;
  }
  /* END OF XS SERVICES */
  /* line 386, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .Gallery h1 {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=../../Weekly Webdev 2 - Bootstrap/style.map */