/* line 1, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
html {
  font-size: 20px;
}

/* line 4, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
body {
  font-family: 'Raleway';
}

/* line 7, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.logo {
  font-family: 'Pacifico';
  font-size: 3.5rem;
  color: #000;
  padding: 20px 100px;
  position: absolute;
  transition: 0.5s;
}

/* line 15, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.logo-scrolled {
  font-size: 2.5rem;
  transition: 0.5s;
  padding: 15px 30px;
}

/* line 20, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.logo:hover {
  color: black;
  text-decoration: none;
  text-decoration-/* END OF CAHEE LOGO */
}

/* line 26, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.topslide {
  margin-top: 45px;
  transition: 0.5s;
}

/* line 30, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.downslide {
  margin-top: 25px;
  transition: 0.5s;
}

/* line 34, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.ding {
  font-size: 0.9rem;
  color: black;
  font-family: 'Raleway';
  font-weight: 700;
  border-top: 0px solid rgba(255, 255, 255, 0);
  transition: 0.2s;
}

/* line 42, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.ding:hover {
  border-top: 5px solid orange;
  transition: 0.1s;
  transition-/* END OF UNORDERED LIST IN NAVBAR */
}

/* line 48, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.navbar-default {
  background-color: rgba(255, 255, 255, 0);
  transition: 0.5s;
  box-sizing: border-box;
  height: 140px;
  border-bottom: none;
}

/* line 55, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.navbar-scrolled {
  min-height: 50px;
  background-color: white;
  transition: 0.5s;
  height: 100px;
}

/* line 61, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Menu {
  text-transform: uppercase;
}

/* line 64, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.listaNavbar {
  display: inline;
}

/* line 67, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.navbar-collapse {
  border: none;
  border-/* END OF NAVBAR */
}

/* line 74, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.text-home {
  position: absolute;
  top: 40%;
}

/* line 78, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.text-home h1 {
  font-size: 2.8rem;
  font-family: 'Raleway';
  font-weight: 900;
  text-transform: capitalize;
}

/* line 84, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.text-home p, .textAbout p {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 0.9rem;
}

/* line 89, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.buttonHome {
  width: 180px;
  height: 40px;
  background-color: #FF6435;
  border: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.21);
  text-transform: uppercase;
  color: white;
  transition: 0.5s;
}

/* line 99, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.buttonHome:hover {
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.21);
  transition: 0.5s;
  transform: scale(1.1);
}

/* line 104, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.headerBackground {
  background-image: url(images/header.jpg);
  background-size: cover;
  background-position: 65%;
  height: 800px;
  position: relative;
  position-/*END OF HOME SECTION*/
}

/* line 113, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.About {
  background-color: #15A5BF;
  padding: 0;
  background-image: url(images/about.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 120, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.textAbout {
  color: white;
  margin-top: 50px;
}

/* line 124, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.textAbout h1 {
  font-size: 3.6rem;
  font-family: 'Raleway';
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
}

/* line 131, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.textAbout p {
  font-size: 0.7rem;
  text-align: center;
  text-align-/* END OF ABOUT SECTION */
}

/* line 135, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Services {
  background-color: rgba(38, 197, 203, 0.72);
}

/* line 138, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Services img {
  margin: 0 auto;
}

/* line 141, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Services h1 {
  font-size: 3.3rem;
  font-family: 'Raleway';
  font-weight: 800;
  color: white;
}

/* line 147, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Tekscik {
  position: absolute;
  top: 40%;
  left: 25%;
}

/* line 152, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Uslugi {
  font-size: 0.8rem;
  font-family: 'Raleway';
  font-weight: 800;
}

/* line 158, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Uslugi:first-child {
  margin-top: 40px;
}

/* line 161, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Oferta {
  border-radius: 0px;
  height: 80px;
  position: relative;
  cursor: pointer;
}

/* line 167, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Oferta p {
  padding-left: 25px;
  position: absolute;
  text-align: center;
  width: 70%;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 1px 2px 1px rgba(150, 150, 150, 0.5);
}

/* line 176, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Wrapik {
  height: 80px;
  width: 80px;
  border-left: 1px solid rgba(113, 113, 113, 0.54);
  position: absolute;
  top: 0px;
  right: 0px;
}

/* line 185, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.UslugiFoto {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0px 15px;
}

/* line 192, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.UslugiFoto img {
  width: 49px;
  height: 43px;
}

/* line 196, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Description-panel {
  display: none;
  color: white;
  font-weight: 300;
  text-align: center;
  text-align-/* END OF SERVICES SECTION */
}

/* line 203, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Gallery {
  background-color: #fff72a;
  text-align: center;
}

/* line 208, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Gallery h1 {
  font-size: 4rem;
  font-weight: 700;
  font-weight-padding-top: 20px;
}

/* line 213, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Description-gallery {
  margin-bottom: 50px;
}

/* line 216, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Gallery img {
  width: 100%;
  transition: all 0.8s;
}

/* line 220, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Gallery img:hover {
  transition: all 0.8s;
  transform: rotate(3deg);
  box-shadow: 0px 0px 40px 1px black;
}

/* line 225, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.img-wrapper {
  display: inline-block;
  padding-bottom: 5vh;
}

/* line 229, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.button-gallery {
  width: 80%;
  height: 40px;
  background-color: rgba(100, 32, 208, 0.81);
  color: white;
  border: none;
  margin-bottom: 50px;
  transition: 0.5s;
}

/* line 238, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.button-gallery:hover {
  box-shadow: 0px 0px 25px 5px rgba(217, 197, 40, 0.88);
  transform: scale(1.1);
  transition: 0.5s;
}

/* END OF GALLERY SECTION*/
/* START OF SUBSCRIBE PANEL*/
/* line 247, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Subscribe {
  background-color: #ffffff;
}

/* line 251, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.input-subscribe-wrapper h3 {
  margin-top: 135px;
}

/* line 254, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.img-subscribe-wrapper {
  margin-top: 60px;
}

/* line 258, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.input-subscribe {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  margin: 15px 0;
}

/* line 264, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.button-subscribe {
  width: 100%;
  height: 40px;
  background-color: #20d02e;
  color: white;
  border: none;
  transition: 0.5s;
  margin: 15px 0;
}

/* line 274, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.button-subscribe:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* END OF SUBSCRIBE PANEL*/
/* START OF BLOG SECTIN*/
/* line 283, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
.Blogowisko {
  background-color: rgba(102, 16, 239, 0.79);
  min-height: 400px;
  width: 100%;
}

/* START OF MEDIA QUERIES */
/* START OF MEDIA QUERIES */
/* START OF MEDIA QUERIES */
@media screen and (min-width: 992px) and (max-width: 1170px) {
  /* line 299, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .headerBackground {
    background-position: 55%;
    height: 600px;
  }
  /* line 303, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .About {
    height: 600px;
    background-position: 10%;
    background-size: 50%;
  }
  /* line 308, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .textAbout {
    margin-top: 80px;
  }
  /* line 311, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .input-subscribe-wrapper {
    margin-top: -25px;
  }
  /* line 314, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .Subscribe {
    min-height: 375px;
  }
  /* line 317, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .img-subscribe-wrapper {
    margin-top: 75px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* line 324, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .headerBackground {
    background-position: 55%;
    height: 650px;
  }
  /* line 328, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .textAbout {
    margin-top: 50px;
  }
  /* line 331, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .About {
    background-size: 60%;
    background-position: left center;
    background-position-/*GALLERY*/
  }
  /* line 337, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .button-subscribe-wrapper {
    padding: 10px;
  }
  /* line 340, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .input-subscribe-wrapper {
    padding: 10px;
  }
  /* line 343, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .input-subscribe-wrapper h3 {
    margin-top: 50px;
  }
  /* line 346, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .img-subscribe-wrapper {
    margin-top: 50px;
  }
  /* line 349, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .Subscribe {
    min-height: 265px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  /* line 355, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .burger {
    margin-top: 55px;
    transition: 0.5s;
  }
  /* line 359, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .burger-scrolled {
    margin-top: 25px;
    transition: 0.5s;
  }
  /* line 364, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .textAbout {
    margin-top: 0px;
  }
  /* line 367, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .headerBackground {
    background-position: 55%;
    height: 500px;
  }
  /* line 371, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .textAbout {
    margin-top: 90%;
  }
  /* line 374, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .About {
    background-size: 100%;
  }
  /* line 377, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  ul li {
    text-align: center;
    background-color: white;
  }
  /* line 381, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .ding {
    font-size: 0.9rem;
    margin: 0;
  }
  /* line 385, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .ding:hover {
    font-size: 1.1rem;
    border-top: none;
    transition: 0.2s;
  }
  /* line 391, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .input-subscribe-wrapper h3 {
    margin-top: 50px;
  }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  /* line 397, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .logo {
    font-size: 2.5rem;
    padding: 20px;
  }
  /* line 401, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .logo-scrolled {
    font-size: 2rem;
    padding: 15px 20px;
  }
  /* line 405, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .navbar-default {
    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s;
    box-sizing: border-box;
    height: 110px;
  }
  /* line 411, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .navbar-scrolled {
    min-height: 50px;
    background-color: white;
    transition: 0.5s;
    height: 92px;
  }
  /* line 417, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .burger {
    margin-top: 40px;
    transition: 0.5s;
  }
  /* line 421, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .burger-scrolled {
    margin-top: 25px;
    transition: 0.5s;
  }
  /* line 425, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .text-home h1 {
    font-size: 1.6rem;
  }
  /* line 428, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .headerBackground {
    background-position: 55%;
    height: 500px;
  }
  /* line 432, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .text-home {
    margin-top: -65px;
  }
  /* line 435, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .textAbout {
    margin-top: 90%;
  }
  /* line 438, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  ul li {
    background-color: white;
    text-align: center;
  }
  /* line 442, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .ding {
    font-size: 0.8rem;
    margin: 0;
  }
  /* line 446, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .ding:hover {
    border: none;
  }
  /* line 449, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .Oferta p {
    font-size: 0.7rem;
  }
  /* line 452, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .UslugiFoto img {
    width: 40px;
    height: 40px;
  }
  /* line 456, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .Wrapik {
    height: 80px;
    width: 70px;
    border-left: 1px solid rgba(113, 113, 113, 0.54);
    position: absolute;
    top: 0px;
    right: 0px;
  }
  /* line 464, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .Tekscik {
    width: 80%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 10%;
  }
  /* line 471, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .Pomidorek h1 {
    font-size: 2rem;
  }
  /* END OF XS SERVICES */
  /* line 476, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .Gallery h1 {
    font-size: 3rem;
  }
  /* line 479, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .Description-gallery {
    padding-bottom: -10px;
  }
  /* line 482, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .img-wrapper {
    padding-bottom: 2vh;
  }
  /* line 485, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .button-gallery {
    margin-bottom: 15px;
  }
  /* line 488, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .input-subscribe-wrapper h3 {
    margin-top: 15px;
  }
  /* line 491, C:/Users/admin-pc/Documents/Foldery z plikami Sass/Weekly Webdev 2 - bootr/style.sass */
  .input-subscribe-wrapper {
    text-align: center;
  }
}

/*# sourceMappingURL=../../Weekly Webdev 2 - Bootstrap/style.map */